:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;
  }

.body{
    background: linear-gradient(var(--pink), #ffffff, var(--blue));
    height: 2030px;
      cursor: s-resize;
}


.textone{
    /* position: absolute;
    top: 154px;
    left: 15vw;
    width: 240px; */
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #fde0ec;
    backdrop-filter: blur(5px);

    max-width: 500px; /* change this number */
    margin: 0 auto;
}

.textone:hover{
    cursor: s-resize;
    color: var(--blue);
    transition: 1.5s;
}

@media(min-width:500px){
.textone{
    font-size: 30px;
    max-width: 500px; /* change this number */
    margin: 0 auto;
}
}

@media(min-width:1000px){
    .textone{
        top: 254px;
        font-size: 39px;
        max-width: 700px; /* change this number */
        margin: 0 auto;
    
    }
    }


.texttwo{
    position: absolute;
width: 700px;
height: auto;
left: 156px;
top: 428px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 19px;
/* line-height: 34px; */
text-align: justify;

color: #FFFFFF;

backdrop-filter: blur(5px);
}


.textthree{
    /* position: absolute;
    left: 15vw;
    width: 240px; */
    top: 100rem;
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    color: #FFFFFF;
    backdrop-filter: blur(5px);

    max-width: 500px; /* change this number */
    margin: 0 auto;
}

@media(min-width:500px){
    .textthree{
        /* width: 520px; */
        font-size: 30px;
        max-width: 500px; /* change this number */
        margin: 0 auto;
    }
    }
@media(min-width:1000px){
    .textthree{
        /* width: 700px;
        height: auto;
        left: 156px; */
        font-size: 39px;
        max-width: 700px; /* change this number */
        margin: 0 auto;
    }

}


.words{
    text-align: center;
    padding-top: 10%;
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 50px;
color: var(--yellow);
}

@media(min-width:400px){
    .words{
left: 9rem;
    }
}
@media(min-width:700px){
    .words{
        top: 1850px;
left: 20rem;
    }
}
@media(min-width:1000px){
    .words{
        top: 1920px;
left: 28rem;
    }
}
.words:hover{
   font-size: 60px;
    transition: 1s;
  
}

.linktonext{
color: yellow;
}
 
a:link {
    text-decoration-line: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: none;
    text-align: center;
    color: var(--yellow);
}

a:active {
    text-decoration-line: none;
    text-align: center;
}