:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;
    --white: white;
    --black: black;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */
.linktonext{
    font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
color: var(--blue);
font-size: 40px;
}
.linktohome{
    font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
    font-size: 100px;
    Z-index: +1000;
}
header{
    text-align: center;
    padding-top: 5%;
    margin-bottom: -70px;
}

footer{
    text-align: center;
    padding-bottom: 5%;
}

a:link {
    text-decoration-line:none;
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line:none;
    text-align: center;
    color: var(--cyan);
    transition: 1s;

}

a:active {
    text-decoration-line: none;
    text-align: center;
}

.body{
background-color: var(--white);

}

.textone-wrapper{
    margin: 10% auto;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 30px;
}
@media(max-width:425px){
    .textone-wrapper{
        margin: 10% auto;
        margin-left: 5%;
        margin-right: 5%;
        font-size: 20px;
      

    }
}

.textone{
color: var(--black);
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
text-align: justify;
transform: scale(0.94);
animation: scale 5s forwards cubic-bezier(0.5, 1, 0.89, 1);
}

.group-1:hover {
    animation: textGlow 2s ease-in-out infinite alternate;
}

span {
    display: inline-block;
    opacity: 0;
    filter: blur(4px);

  }

  span:nth-child(n){
    animation: fade-in 0.8s 1.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
@keyframes fade-in {
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }

  @keyframes scale {
    100% {
      transform: scale(1);
    }
  } 

  @keyframes textGlow {
    from {
        text-shadow: 0 0 10px black, 0 0 20px black, 0 0 30px #666666, 0 0 40px #666666, 0 0 50px #666666, 0 0 60px #666666, 0 0 70px #666666;
    }
    to {
        text-shadow: 0 0 20px black, 0 0 30px #858585, 0 0 40px #858585, 0 0 50px #858585, 0 0 60px #858585, 0 0 70px #858585, 0 0 80px #858585;
    }
}


.section1{
background-color: var(--cyan);
padding: 10% ;
border-radius: 25px;
}

.section2{
background-color: var(--pink);
padding: 10% ;
margin-top: -150px;
border-radius: 25px;
}
.section3{
background-color: var(--yellow);
padding: 10% ;
margin-top: -150px;
border-radius: 25px;
}

.comma{
    font-size: 500px;
    margin-top: -390px;
    text-align: center;
}

