:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;

    cursor:none;
    --cursorX: 60vw;
    --cursorY: 60vh;
  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */

:root:before{
    content:'';
    display:block;
    width:100%;
    height:100%;
    position:fixed;
    pointer-events:none;
    background:radial-gradient(
        circle 30vmax at var(--cursorX) var(--cursorY),
        rgba(0,0,0,0) 0%,
        /* var(--cyan) 90%, */
        var(--blue) 100%
    )
}


 a:link {
    text-decoration-line:underline;
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line:none;
    text-align: center;
    color: var(--pink);
    transition: 1s;
}

a:active {
    text-decoration-line: none;
    text-align: center;
    color: var(--pink);
}

.textone{
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;    
}

/* @media(min-width:700px){
    .textone{
        max-width: 600px;
    }
} */

.para-1{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 20px;
}

@media (min-wdith:1000px){
    .para-1{
        max-width: 650px;
    }
}

.para-2{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 20px;
}

@media (min-wdith:1000px){
    .para-2{
        max-width: 650px;
    }
}

.para-3{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    text-align: justify;
    max-width: 600px;
    margin: 0 auto;
    padding-bottom: 5%;
    font-size: 20px;
}

@media (min-wdith:1000px){
    .para-3{
        max-width: 650px;
    }
}

footer{
padding-bottom: 5%;
    text-align: center;

}

.linktonext{
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
}
