:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;
    --white: white;
    --black: black;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */


body{
    background: linear-gradient(89.44deg,  #FFFFFF 3.4%, #FF00A8 28.37%, #FFE600 55.6%,#00FFF0 83.74%) ;
    height: auto;
    background-attachment: fixed;
    background-size: cover;
    height: 90vh;
    width: auto;

}

.on{
    font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 10rem;
color: var(--black);
}

.on-wrap{
    padding-left: 25rem;
    margin-left: 10rem;
    padding-top: 10vh;
}

@media(max-width:425px){
    .on-wrap{
        margin-left: 0rem;
        padding-top: 15rem;
    }  
}
@media(min-width:1000px){
    .on-wrap{
        padding-top: 15rem;
    }  
}


.punctuation{
    font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 10rem;
color: var(--black);
}

.punctuation-wrap{
    margin-top: -120px;
    padding-left: 21vw;

}

@media(max-width:425px){
    .punctuation-wrap{
        padding-left: 0rem;
    }  
}
@media(min-width:1000px){
    .punctuation-wrap{
        padding-top: 1rem;
    }  
}

a:link {
    text-decoration-line: none;
}

a:visited {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none;
}

a:active {
    text-decoration-line: none;
}

.question-mark{
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 10rem;
    color: #000000;

    animation: blinking 2.5s infinite;
}

.question-mark-wrap{
    margin-top: -410px;
    padding-left: 53%;

    transform: rotate(-44.2deg);
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(min-width: 1000px){
    .question-mark-wrap{
        margin-top: -400px;
        padding-left: 40%;
    
    }
}
@media (max-width:500px){
    .question-mark-wrap{
        animation: none;
        transform: revert;
    }
}

@keyframes blinking{
    0% {
        color:  blue;
    }
    47% {
        color: rgb(255, 0, 242);
    }
     62% {
        color: yellow;
    }
    97% { color: rgb(0, 0, 0);
       
    }
    100% {
        color: blue;
    }
}


@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 45px); }
    100%   { transform: translate(0, -0px); }   
}

.apostrophe{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 15rem;
    color: #000000;
    animation: blinking 2.5s infinite;

}

.apostrophe-wrap{
    transform: rotate(-28.48deg);
    animation-name: floating-question-2;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    padding-left: 42rem;
    margin-top: -15rem;

}

@media (max-width:500px){
    .apostrophe-wrap{
        animation: none;
        transform: revert;
        margin-top: -25rem;
        margin-left: -18rem
    }
}

@media (min-width:1000px){
    .apostrophe-wrap{
        margin-top: -25rem;
        margin-left: 2rem;
    }
}

@keyframes floating-question-2 {
    0% { transform: translate(0,  0px, 20px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}

.period{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
   animation: blinking 2.5s infinite;
    color: #000000;

}

.period-wrap{
    margin-top: -23rem;
    padding-left: 51rem;
    transform: rotate(38.48deg);
    animation-name: floating-question-3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(max-width:500px){
    .period-wrap{
        animation: none;
        transform: revert;
        margin-top: 2rem;
        margin-left: -35rem;
    }
}

@media(min-width:1000px){
    .period-wrap{
        margin-top: -2rem;
        margin-left: -45rem;
        transform: rotate(80.48deg);
    }
}

@keyframes floating-question-3 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}

.semicolon{
    font-family: 'Abhaya Libre';
    font-style: normal;
    font-weight: 400;
    font-size: 20rem;
    animation: blinking 2.5s infinite;
}

.semicolon-wrap{
    transform: rotate(-18.48deg);
    animation-name: floating-question-4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(max-width:500px){
    .semicolon-wrap{
        margin-top: -20rem;
        padding-left: 30rem;
        animation: none;
        transform: revert;
    }
}

@media(min-width:520px){
    .semicolon-wrap{
        margin-top: 0rem;
        padding-left: 30rem;
    }
}


@media(min-width:1000px){
    .semicolon-wrap{     
    margin-top: -25rem;
    padding-left: 50rem;
    transform: rotate(18.48deg);

    }
}


@keyframes floating-question-4 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}

.comma{
    font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 25rem;
animation: blinking 2.5s infinite;
}

.comma-wrap{
    margin-top: -30rem;
    transform: rotate(-50.15deg);
    animation-name: floating-exclaim-1;
    animation-duration: 4.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@media(max-width:500px){
    .comma-wrap{
        margin-top: -31rem;
        padding-left: 2.5rem;
animation: none;
transform: revert;
    }
}
@media(min-width:520px){
    .comma-wrap{
        margin-top: -41rem;
    padding-left: 3rem;
    }
}
@media(min-width: 1000px){
    .comma{
        font-size: 25rem;
    }
    .comma-wrap{
        margin-top: -40rem;
        padding-left: 10rem;
        transform: rotate(15.15deg);
    }
}


@keyframes floating-exclaim-1 {
    0% { transform: translate(0px,  0px, 40px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px, 50px); }   
}