:root{
--blue: blue;
        --pink: #ff00d9;
        --yellow: yellow;
        --cyan: cyan;
      }

.on{
    /* position: absolute;
    width: 1093px;
    height: 323px;
    left: 956px;
    top: -60px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 500px;
    line-height: 774px;
    
    color: #FF00A8;
    animation: blinking 2.5s infinite; */

    font-family: 'Aguafina Script';
    font-style: normal;
    font-size: 97px;
    font-weight: 400;
    color: var(--pink);
    animation: blur 10s ease-out infinite;
	-webkit-animation: blur 10s ease-out infinite;

}


@media (min-width:400px){
.on{
    position: absolute;
    width: 1093px;
    height: 323px;
    left: 956px;
    top: -60px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 500px;
    line-height: 774px;
    
    color: #FF00A8;
    animation: blinking 2.5s infinite;
}
}
@media (min-width:700px){

}

.punctuation{
    position: absolute;
    width: 1503px;
    height: 758px;
    left: 0px;
    top: -11px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 410px;
    line-height: 634px;
    margin-top: 331px;
    
    color: #FF00A8;
    animation: blinking 2.5s infinite;
}


@media (min-width:400px){

}
@media (min-width:700px){

}

@keyframes blinking{
    0% {
        color:  blue;
    }
    47% {
        color: rgb(255, 0, 242);
    }
     62% {
        color: yellow;
    }
    97% { color: cyan;
       
    }
    100% {
        color: blue;
    }
}

.question-mark{
    position: absolute;
width: 306px;
height: 339px;
left: 484.08px;
top: 124.56px;

animation-name: floating;
animation-duration: 3s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 350px;
line-height: 541px;

color: #000000;

transform: rotate(-44.2deg);
}


@media (min-width:400px){

}
@media (min-width:700px){

}

a:link {
    text-decoration-line: none;
}

a:visited {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none;
}

a:active {
    text-decoration-line: none;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 45px); }
    100%   { transform: translate(0, -0px); }   
}

.exclaim-1{
    position: absolute;
width: 201px;
height: 291px;
left: 65px;
top: 640.91px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 230px;
line-height: 356px;

color: #000000;

transform: rotate(-50.15deg);

animation-name: floating-exclaim-1;
animation-duration: 4.5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}


@media (min-width:400px){

}
@media (min-width:700px){

}

@keyframes floating-exclaim-1 {
    0% { transform: translate(0px,  0px, 40px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px, 50px); }   
}

.question-mark-2{
    position: absolute;
    width: 106px;
    height: 81px;
    left: 18.1px;
    top: 103.18px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    
    color: #000000;
    
    transform: rotate(-28.48deg);

animation-name: floating-question-2;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-question-2 {
    0% { transform: translate(0,  0px, 20px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}


@media (min-width:400px){

}
@media (min-width:700px){

}

.question-mark-3{
    position: absolute;
    width: 144px;
    height: 139px;
    left: 1347px;
    top: 15px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    
    color: #000000;
    
    transform: rotate(-58.48deg);

animation-name: floating-question-3;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-question-3 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}


@media (min-width:400px){

}
@media (min-width:700px){

}

.question-mark-4{
    position: absolute;
    width: 103px;
    height: 149px;
    left: 490px;
    top: 775px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    
    color: #000000;
    transform: rotate(-18.48deg);

animation-name: floating-question-4;
animation-duration: 1.5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-question-4 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}


@media (min-width:400px){

}
@media (min-width:700px){

}

.exclaim-2{
    position: absolute;
    width: 201px;
    height: 291px;
    left: 302px;
    top: 263px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 230px;
    line-height: 356px;
    
    color: #000000;
 
    transform: rotate(320.48deg);

    animation-name: floating-exclaim-2;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}


@media (min-width:400px){

}
@media (min-width:700px){

}


@keyframes floating-exclaim-2 {
    0% { transform: translate(0,  0px, 5px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(5px, -0px, 0px); }   
}

.exclaim-3{
    position: absolute;
width: 201px;
height: 291px;
left: 1106px;
top: 654px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 356px;

color: #000000;
transform: rotate(-12.48deg);

animation-name: floating-exclaim-2;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-exclaim-2 {
0% { transform: translate(0,  0px, 5px); }
50%  { transform: translate(0, 25px); }
100%   { transform: translate(5px, -0px, 0px); }   
}


@media (min-width:400px){

}
@media (min-width:700px){

}