:root{
--blue: blue;
        --pink: #ff00d9;
        --yellow: yellow;
        --cyan: cyan;
      }

.on{

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
color: var(--pink);
position: absolute;
width: 1503px;
height: 758px;
left: 900px;
top: 300px;
margin-top: 331px;
animation: blinking 2.5s infinite;
font-size: 300px;
line-height: 654px;
/* animation: blur 10s ease-out infinite;
-webkit-animation: blur 10s ease-out infinite; */

}
@media (min-width:375px){
    .on{
        width: 1503px;
        height: 758px;
        left: 1000px;
        top: 300px;
        font-size: 300px;
    line-height: 654px;
    
    }
    }
@media (min-width:387px){
    .on{
        width: 1093px;
        height: 323px;
        left: 1356px;
        top: -120px;
        font-size: 700px;
        line-height: 774px;
    
    }
    }
@media (min-width:505px){
.on{
    position: absolute;
    width: 1093px;
    height: 323px;
    left: 1356px;
    top: -120px;
    font-size: 700px;
    line-height: 774px;
}
}
@media (min-width:542px){
    .on{
        width: 1093px;
        height: 323px;
        left: 1356px;
        top: -120px;
        font-size: 50rem;
        line-height: 774px;
    }
    }
@media (min-width:700px){
        .on{
            width: 1093px;
            height: 323px;
            left: 1656px;
            top: 10px;
            font-size: 50rem;
            line-height: 774px;
        }
        }
@media (min-width:1024px){
    .on{
        width: 1093px;
        height: 323px;
        left: 1800px;
        top: 300px;
        font-size: 50rem;
        line-height: 774px;
    }
    }

.punctuation{

    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;

    position: absolute;
    width: 1503px;
    height: 758px;
    left: 30px;
    top: 600px;
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 350px;
    line-height: 634px;
    margin-top: 331px;
    color: #FF00A8;
    animation: blinking 2.5s infinite;
}

@media(min-width:375px){
    .punctuation{
        width: 1503px;
        height: 758px;
        left: 140px;
        top: 600px;
        font-size: 350px;
        line-height: 634px;
    }
}

@media (min-width:387px){
  .punctuation{
    width: 1503px;
    height: 758px;
    left: 0px;
    top: 401px;
    font-size: 580px;
    line-height: 634px;

  }  
}
@media (min-width:700px){
.punctuation{
    width: 1093px;
    height: 323px;
    left: 156px;
    top: 550px;
    font-size: 40rem;
    line-height: 774px;
}
}
@media (min-width:1024px){
    .punctuation{
        width: 1093px;
        height: 323px;
        left: 256px;
        top: 850px;
        font-size: 40rem;
        line-height: 774px;
    }
    }

@keyframes blinking{
    0% {
        color:  blue;
    }
    47% {
        color: rgb(255, 0, 242);
    }
     62% {
        color: yellow;
    }
    97% { color: cyan;
       
    }
    100% {
        color: blue;
    }
}

.question-mark{
    position: absolute;
    width: 306px;
    height: 339px;
    left: 484.08px;
    top: 824.56px;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 15rem;
    line-height: 541px;
    color: #000000;
    transform: rotate(-44.2deg);
}


@media (min-width:400px){
   .question-mark{
    width: 306px;
    height: 339px;
    left: 704.08px;
    top: 524.56px;
    font-size: 30rem;
}
   } 
@media (min-width:700px){
.question-mark{
    width: 306px;
    height: 339px;
    left: 954.08px;
    top: 724.56px;
    font-size: 30rem;
}
}
@media (min-width:1000px){
.question-mark{
    width: 306px;
    height: 339px;
    left: 1054.08px;
    top: 1024.56px;
    font-size: 35rem;
}
}

a:link {
    text-decoration-line: none;
}

a:visited {
    text-decoration-line: none;
}

a:hover {
    text-decoration-line: none;
}

a:active {
    text-decoration-line: none;
}

@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 45px); }
    100%   { transform: translate(0, -0px); }   
}
.exclaim-1{

position: absolute;
width: 201px;
height: 291px;
left: 65px;
top: 700.91px;
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 20rem;
line-height: 356px;
color: #000000;
transform: rotate(-50.15deg);
animation-name: floating-exclaim-1;
animation-duration: 4.5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;

}
@media (min-width:400px){
.exclaim-1{
    width: 201px;
    height: 291px;
    left: 65px;
    top: 340.91px;
    font-size: 35rem;
    line-height: 356px;
}
}
@media (min-width:700px){
    .exclaim-1{
        width: 201px;
        height: 291px;
        left: 375px;
        top: 340.91px;
        font-size: 35rem;
        line-height: 356px;
    }
    }
@media (min-width:1000px){
    .exclaim-1{
        width: 201px;
        height: 291px;
        left: 375px;
        top: 740.91px;
        font-size: 45rem;
        line-height: 356px;    
    }
    }


@keyframes floating-exclaim-1 {
    0% { transform: translate(0px,  0px, 40px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0, -0px, 50px); }   
}

.question-mark-2{
    position: absolute;
    width: 106px;
    height: 81px;
    left: 18.1px;
    top: 103.18px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    
    color: #000000;
    
    transform: rotate(-28.48deg);

animation-name: floating-question-2;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-question-2 {
    0% { transform: translate(0,  0px, 20px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}


@media (min-width:400px){
.question-mark-2{
    width: 106px;
    height: 81px;
    left: 2000.1px;
    top: 100rem;
    font-size: 20rem;
    line-height: 198px;
}
}
@media (min-width:700px){
.question-mark-2{
    width: 106px;
    height: 81px;
    left: 2000.1px;
    top: 120rem;
    font-size: 20rem;
    line-height: 198px;
}
}

.question-mark-3{
    position: absolute;
    width: 144px;
    height: 839px;
    left: 947px;
    top: 505px;
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    color: #000000;
    transform: rotate(-38.48deg);
    animation-name: floating-question-3;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-question-3 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}


@media (min-width:400px){
.question-mark-3{
    width: 144px;
    height: 839px;
    left: 2100px;
    top: 95px;
    font-size: 15rem;
    line-height: 198px;
}
}
@media (min-width:700px){
.question-mark-3{
    width: 144px;
    height: 839px;
    left: 2100px;
    top: 95px;
    font-size: 15rem;
    line-height: 198px;
}
}
.question-mark-4{
    position: absolute;
    width: 103px;
    height: 149px;
    left: 250px;
    top: 1375px;
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 128px;
    line-height: 198px;
    color: #000000;
    transform: rotate(-18.48deg);
    animation-name: floating-question-4;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

@keyframes floating-question-4 {
    0% { transform: translate(0,  7px, 50px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(0px, -0px, 10px); }   
}

@media (min-width:400px){
    .question-mark-4{
        width: 103px;
        height: 149px;
        left: 290px;
        top: 1375px;
        font-size: 15rem;
        line-height: 198px;
        
    }
    }
@media (min-width:700px){
.question-mark-4{
    width: 103px;
    height: 149px;
    left: 390px;
    top: 2075px;
    font-size: 20rem;
    line-height: 198px;
}
}
@media (min-width:1000px){
    .question-mark-4{
        width: 103px;
        height: 149px;
        left: 390px;
        top: 2075px;
        font-size: 22rem;
        line-height: 198px;
    }
    }

.exclaim-2{
    position: absolute;
    width: 201px;
    height: 291px;
    left: 302px;
    top: 263px;
    
    font-family: 'Aguafina Script';
    font-style: normal;
    font-weight: 400;
    font-size: 230px;
    line-height: 356px;
    
    color: #000000;
 
    transform: rotate(320.48deg);

    animation-name: floating-exclaim-2;
animation-duration: 2s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}


@media (min-width:400px){

}
@media (min-width:700px){

}


@keyframes floating-exclaim-2 {
    0% { transform: translate(0,  0px, 5px); }
    50%  { transform: translate(0, 25px); }
    100%   { transform: translate(5px, -0px, 0px); }   
}

.exclaim-3{
    position: absolute;
width: 201px;
height: 291px;
left: 1106px;
top: 654px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 170px;
line-height: 356px;

color: #000000;
transform: rotate(-12.48deg);

animation-name: floating-exclaim-2;
animation-duration: 5s;
animation-iteration-count: infinite;
animation-timing-function: ease-in-out;
}

@keyframes floating-exclaim-2 {
0% { transform: translate(0,  0px, 5px); }
50%  { transform: translate(0, 25px); }
100%   { transform: translate(5px, -0px, 0px); }   
}


@media (min-width:400px){

}
@media (min-width:700px){

}