:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */


  a:link {
    text-decoration-line: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: none;
    text-align: center;
    color: var(--yellow);
}

a:active {
    text-decoration-line: none;
    text-align: center;
}

@media(min-width:700px){
  .column{
    column-count: 2; 
  }
}

.linktohome{
  font-family: 'Aguafina Script';
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  text-align: center;
}

.textone{
  font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;

}

.textone:hover{
  color: white;
}

@media(min-width:1000px){
  .textone{
    max-width: 900px;
  }
}

.span{
color: var(--pink);
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 25px;
padding-left: 2px;
padding-right: 1px;
}

span:nth-child(3){
  color: var(--yellow);
}

span:nth-child(5){
  color: var(--blue);
}

span:nth-child(6){
  color: var(--cyan);
}

span:nth-child(8){
  color: var(--blue);
}
span:nth-child(1){
  color: var(--yellow);
}
.span:hover{
font-size: 30px;
transition: 1s;
}