:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */


  a:link {
    text-decoration-line: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: none;
    text-align: center;
    color: var(--yellow);
}

a:active {
    text-decoration-line: none;
    text-align: center;
}

@media(min-width:700px){
  .column{
    column-count: 2; 
  }
}


.textone{
  font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
  max-width: 500px;
  margin: 0 auto;
  text-align: justify;

}

@media(min-width:1000px){
  .textone{
    max-width: 900px;
  }
}

