:root{
        --cyan: cyan;
        --pink: rgb(255, 0, 128);
        --yellow: yellow;
        --blue: blue;
      }

.body{
    background-color: cyan;
    height: 900px;
width: 1440px;
left: 6006px;
top: -1686px;
border-radius: 0px;

}

.question-mark{
    position: absolute;
/* width: 1299px;
height: 1340px; */
left: 150px;
top: 206px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 1110px;
line-height: 1562px;

color: var(--yellow); 

}

@media (min-width:520px){
.question-mark{
left: 200px;
top: -16px;
font-size: 1110px;
line-height: 1562px;
z-index: +20;
}
}

@media (min-width:1000px){

}



a:link {
    text-decoration-line: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: none;
    text-align: center;
    color: var(--yellow);
}

a:active {
    text-decoration-line: none;
    text-align: center;
}

.textone{
    position: absolute;
width: 524px;
height: 1059px;
left: 117px;
top: 0px;

position: absolute;
width: 515px;
height: 1041px;
left: 153px;
top: 18px;
z-index: +1;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 34px;
text-align: justify;
cursor: help;

color: rgb(0, 0, 0);

backdrop-filter: blur(5px);
padding:10px;
line-height: 35px;


-moz-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
transform: translateY(-100%);

-moz-animation: textone 25s linear infinite;
-webkit-animation: textone 25s linear infinite;
animation: textone 25s linear infinite;
}
@-webkit-keyframes textone{
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes textone {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

.textone:hover{
    color: var(--pink);
    transition: 0.3s;
    cursor: help;
 

}

@media (max-width:500px){
    .textone{
        display: none;
    }
}

.texttwo{
    position: absolute;
width: 515px;
height: 510px;
left: 783px;
top: -9px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 34px;
text-align: justify;

color: #000000;
padding:10px;
backdrop-filter: blur(5px);
cursor: help;

-moz-animation: texttwo 25s linear infinite;
-webkit-animation: texttwo 25s linear infinite;
animation: texttwo 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes texttwo {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(100%); }
    }
    
    /* for Chrome */
    @-webkit-keyframes texttwo {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(100%); }
    }
    
    @keyframes texttwo {
    from {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    to {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    
    }


.texttwo:hover{
    color: var(--pink);
    transition: 0.3s;
    cursor: help;
}

@media (max-width:500px){
    .texttwo{
        display: none;
    }
}


.textoneandtwo{
position: absolute;
left: 117px;
top: 0px;
width: 1020px;
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 100px;
line-height: 100px;
text-align: justify;
cursor: help;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 26s linear infinite;
    -webkit-animation: my-animation 26s linear infinite;
    animation: my-animation 26s linear infinite;
    animation-iteration-count:1; 
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(10%);
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  
  @media(min-width:320px){
    .textoneandtwo{
        left: 207px;
    }
    }

@media(min-width:500px){
.textoneandtwo{
    display: none;
}
}