:root{
        --cyan: cyan;
        --pink: rgb(255, 0, 128);
        --yellow: yellow;
        --blue: blue;
      }

.body{
    background-color: cyan;

}
.question-mark-wrap{
  margin-top: 30rem;
  padding-left: 30rem;
}

.question-mark{
    position: absolute;
left: 150px;
top: 206px;

font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400;
font-size: 1110px;
line-height: 1562px;

color: var(--yellow); 

}

@media(max-width:500px){
  .question-mark{
    font-size: 30rem;
    margin-left: -9rem;
    margin-top: -25rem;
  }
}

@media(min-width:700px){
  .question-mark{
    margin-top: -21rem;
    margin-left: -5rem;
    font-size: 50rem;
  }

}

@media(min-width: 1000px){
  .question-mark{
    margin-top: -18rem;
    font-size: 53rem;
    margin-left: -3rem;
  }
}


a:link {
    text-decoration-line: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line: none;
    text-align: center;
    color: var(--yellow);
}

a:active {
    text-decoration-line: none;
    text-align: center;
}


.textone{
z-index: +1;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 29px;
text-align: justify;
cursor: help;

color: rgb(0, 0, 0);

backdrop-filter: blur(5px);
padding:10px;
line-height: 35px;


-moz-transform: translateY(-100%);
-webkit-transform: translateY(-100%);
transform: translateY(-100%);

-moz-animation: textone 25s linear infinite;
-webkit-animation: textone 25s linear infinite;
animation: textone 25s linear infinite;
}
@-webkit-keyframes textone{
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes textone {
    from {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }

.textone:hover{
    color: var(--pink);
    transition: 0.3s;
    cursor: help;
 

}

@media (max-width:500px){
    .textone{
        display: none;
    }
    .texttwo{
      display: none;
    }
}


@media(min-width:700px){


}
@media(min-width:1000px){

    }


.texttwo{

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 29px;
line-height: 34px;
text-align: justify;

color: #000000;
padding:10px;
backdrop-filter: blur(5px);
cursor: help;

-moz-animation: texttwo 25s linear infinite;
-webkit-animation: texttwo 25s linear infinite;
animation: texttwo 25s linear infinite;
}

/* for Firefox */
@-moz-keyframes texttwo {
    from { -moz-transform: translateY(-100%); }
    to { -moz-transform: translateY(100%); }
    }
    
    /* for Chrome */
    @-webkit-keyframes texttwo {
    from { -webkit-transform: translateY(-100%); }
    to { -webkit-transform: translateY(100%); }
    }
    
    @keyframes texttwo {
    from {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
    to {
      -moz-transform: translateY(100%);
      -webkit-transform: translateY(100%);
      transform: translateY(100%);
    }
    
    }


.texttwo:hover{
    color: var(--pink);
    transition: 0.3s;
    cursor: help;
}



@media (min-width:1000px){

}

.textoneandtwo{
font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 20px;
text-align: justify;
cursor: help;
    
    /* animation properties */
    -moz-transform: translateY(100%);
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    
    -moz-animation: my-animation 26s linear infinite;
    -webkit-animation: my-animation 26s linear infinite;
    animation: my-animation 26s linear infinite;
    animation-iteration-count:1; 
  }
  
  /* for Firefox */
  @-moz-keyframes my-animation {
    from { -moz-transform: translateY(100%); }
    to { -moz-transform: translateY(-100%); }
  }
  
  /* for Chrome */
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateY(100%); }
    to { -webkit-transform: translateY(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateY(10%);
      -webkit-transform: translateY(10%);
      transform: translateY(10%);
    }
    to {
      -moz-transform: translateY(-100%);
      -webkit-transform: translateY(-100%);
      transform: translateY(-100%);
    }
  }
  

@media(min-width:500px){
.textoneandtwo{
    display: none;
}
}

.textoneandtwo-wrap{
  max-width: 300px;
  margin: 10%;
}
/* 
@media(min-width: 700px){
.wrap-one{
margin-top: -20rem;
  max-width: 320px;
  margin-left: 2.5rem;

}
.wrap-two{
  margin-top: -120rem;
  max-width: 320px;
  margin-left: 25rem;
}
}

@media(min-width:1000px){
  .wrap-one{
    margin-top: -26rem;
    max-width: 452px;
    margin-left: 3rem;
    
    }
    .wrap-two{
      margin-top: -120rem;
      max-width: 452px;
      margin-left: 32rem;
    }
} */

.total-wrap{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 5rem;
  padding-right: 5rem;
}

@media(min-width:700px){
  .total-wrap{
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    gap: 1rem;
  }
}