:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */


  a:link {
    text-decoration-line:underline;
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line:underline;
    text-align: center;
    color: var(--pink);
    font-size: larger;
    transition: 1s;
}

a:active {
    /* text-decoration-line: none; */
    text-align: center;
}

.body{
background-color: var(--yellow);

}



.dot {
    height: 200px;
    width: 200px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;

    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
  }

.comma{
    font-size: 1500px;
    color: #000000;
    margin-top: -1100px;
    margin-left: -100px;
}  

.dotcyan{
    position: absolute;
width: 320px;
height: 1911px;
left: 4px;
top: -1214px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: var(--cyan);
}


.dotpink{
    position: absolute;
width: 320px;
height: 1905px;
left: -4px;
top: -1193px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: var(--pink);

}

.dotblack{
    position: absolute;
width: 320px;
height: 1911px;
left: 0px;
top: -1206px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}

.commacyan{
    position: absolute;
width: 320px;
height: 1911px;
left: 10px;
top: -921px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

backdrop-filter: ;

color: var(--cyan);
}

.commapink{
    position: absolute;
width: 320px;
height: 1911px;
left: -9px;
top: -896px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: var(--pink);

}

.commablack{
    position: absolute;
width: 320px;
height: 1911px;
left: 0px;
top: -906px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 2000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: #000000;
}
 

.textonewrapper{
    margin-left:  10%;
    margin-top:10%;
}

@media(min-width: 500px){
    .textonewrapper{
        margin-left: 20%;
        margin-right: 10%;
    }
}

.textone{
    font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
text-align: justify;
max-width: 300px;
margin: 0 auto;
font-size: 20px;
}

@media (min-width:700px){
    .textone{
        max-width: 700px; 
    }
}

.linktonext{
    text-decoration-line: underline;
    
}

.linkwrapper{
    margin-top:10%;
    margin-left: 15%;
    
}

@media(min-width:700px){
    .linkwrapper{
        margin-left: 35%;
    }
}