:root{
    --cyan: cyan;
    --pink: rgb(255, 0, 128);
    --yellow: yellow;
    --blue: blue;

  }
/* 
font-family: 'Aguafina Script';
font-style: normal;
font-weight: 400; */

/* font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400; */


  a:link {
    text-decoration-line:underline;
    text-decoration: none;
    text-align: center;
}

a:visited {
    text-decoration-line: none;
    text-align: center;
}

a:hover {
    text-decoration-line:underline;
    text-align: center;
    color: var(--pink);
    font-size: larger;
    transition: 1s;
}

a:active {
    /* text-decoration-line: none; */
    text-align: center;
}

.body{
background-color: var(--yellow);

}

.textonewrapper{
    margin-left:  10%;
    margin-top:10%;
}

@media(min-width: 500px){
    .textonewrapper{
        margin-left: 20%;
        margin-right: 10%;
    }
}

.textone{
    font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
text-align: justify;
max-width: 300px;
margin: 0 auto;
font-size: 20px;
}

@media (min-width:700px){
    .textone{
        max-width: 650px; 
    }
}

.linktonext{
    text-decoration-line: underline;
    
}

.linkwrapper{
    margin-top:10%;
    margin-left: 15%;
    
}

@media(min-width:700px){
    .linkwrapper{
        margin-left: 35%;
    }
}



.dotblack{
    position: absolute;
width: 320px;
height: 1911px;
left: 0px;
top: -706px;

font-family: 'Abhaya Libre';
font-style: normal;
font-weight: 400;
font-size: 1000px;
line-height: 2359px;
display: flex;
align-items: center;
text-align: center;

color: #000000;

}

@media(min-width:1000px){
    .dotblack{
        font-size: 1500px;
        top: -800px;
    }
}

.dotblack:hover {
    filter: none !important;
    cursor: pointer;
    animation: glowAnimation 5s ease-in-out infinite;
}

@keyframes glowAnimation {
    0% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 var(--pink), 
            0 0 0 var(--pink), 
            0 0 0 var(--cyan), 
            0 0 0 var(--cyan);
    }

    20% {  
        transform: translateY(5px);
        text-shadow: 
            0 0.0125em 0 var(--cyan), 
            0 0.025em 0 var(--cyan), 
            0 -0.0125em 0 var(--pink), 
            0 -0.025em 0 var(--pink);
    }

    40% {  
        transform: translateY(15px);
        text-shadow: 
            0 -0.00625em 0 var(--pink), 
            0 -0.0125em 0 var(--pink), 
            0 0.00625em 0 var(--cyan), 
            0 0.00125em 0 var(--cyan);
    }
    
   60% {
        transform: translateY(-10);
        text-shadow: 
            0 0.003125em 0 var(--cyan), 
            0 0.00625em 0 var(--cyan), 
            0 -0.003125em 0 var(--pink), 
            0 -0.00625em 0 var(--pink);
    }

    80% {  
        transform: translateY(0);
        text-shadow: 
            0 0 0 var(--pink), 
            0 0 0 var(--pink), 
            0 0 0 var(--cyan), 
            0 0 0 var(--cyan);
    }
}



 